<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="/css/styles.css">
<title>ERROR</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<!-- Error page in case of error -->
	<div class="bar">
	<h1>There has been an error!</h1>
	</div>
	<div class="bar">
	<a href="/index" class="btn btn-info">Return to the mainpage</a> <!-- Back to index -->
	<a href="/hourlist" class="btn btn-info">Return to the work hour page</a> <!--  Back to hourlist -->
	</div>
</body>
</html>